body {
    background-image: url("../build/launcher-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

#nav {
    position: absolute;
    float: left;
    width: 13%;
    height: 60%;
    top: 5%;
    left: 6%;
}

#nav img {
    height: 30%;
    width: 100%;
}

.button {
    display: block;
    width: 100%;
    background-color: rgb(247, 8, 227);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    font-family: Tahoma;
}

#serverlist {
    position: absolute;
    float: right;
    width: 45%;
    height: 50%;
    top: 25%;
    left: 40%;
    background-color: rgb(1, 1, 1, 0.3);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: Tahoma;
}

#serversheader {
    text-align: center;
    font-size: 26px;
    position: relative;
    top: 0;
    width: 100%;
    height: 20%;
    color: white;
    line-height: 100px;
    background-color: rgb(1, 1, 1, 0.7);
}

.servertable {
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 18px;
}

.serverSelect {
    background-color: rgb(1, 1, 1, 0.7);
}

.servertable tr:hover {
    background-color: rgb(1, 1, 1, 0.7);
}

#launch {
    display: block;
    position: absolute;
    bottom: -20%;
    width: 100%;
    background-color: rgb(247, 8, 227);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    font-family: Tahoma;
}

#container {
    display: none;
    position: absolute;
    float: right;
    width: 65%;
    height: 80%;
    top: 10%;
    left: 30%;
    background-color: rgb(1, 1, 1, 0.3);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: Tahoma;
}

ul {
    list-style: none; 
}
  
ul li::before {
    content: "\2022";
    color: rgb(247, 8, 227);
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

#patchlatest {
    padding-left: 2%;
}

#patchprevious {
    display: none;
    padding-left: 2%;
}

#twopatchesago {
    display: none;
    padding-left: 2%;
}

#arrownav {
    display: block;
    position: absolute;
    bottom: -15%;
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 36px;
    color: rgb(247, 8, 227);
}
#changelogs {
    overflow: hidden;
}
#ruleslist {
    position: relative;
    width: 95%;
    height: 100%;
    overflow-y: scroll;
    padding-left: 5%;
    font-family: Tahoma;
}

#ruleslist h4 {
    color: rgb(247, 8, 227);
    text-decoration: underline;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
  color: rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
  color: rgba(0, 0, 0, 0.3);
}

/* div:hover {
  color: rgba(0, 0, 0, 0.3);
} */

#ruleslist div {
  text-shadow: 0 0 black;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  transition: color .3s ease;
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-family: Tahoma;
    font-size: 14px;
}