body {
    background-image: url("https://media.discordapp.net/attachments/685172620315983934/685172734946574380/amp-1920-1080.jpg?width=1204&height=677");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.container {
    position: relative;
    float: left;
    top: 30%;
    left: 10%;
    width: 30%;
    height: 40%;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(3px);
    border-radius: 15px;
}

#mainserver {
    padding: 3%;
}
#mainserver:hover {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#testserver {
    padding: 3%;
}

#testserver:hover {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#servers {
    position: relative;
    width: 100%;
    height: 80%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.button {
    display: block;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(211, 25, 211, 0.774);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
}
  
.button:hover {
    background-color: rgb(199, 16, 236);
    color: white;
}

.selected {
    font-size: 24px;
    text-shadow: 4px 4px 8px #000000;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn-footer {
    display: block;
    width: 23.8%;
    float: left;
    border-radius: 10px;
    background-color: rgba(211, 25, 211, 0.774);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    padding: 10px 22px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    margin: 5px;
}

.btn-footer:hover {
    background-color: rgb(199, 16, 236);
    color: white;
}

